
.amenityShort {
  display: flex;
  flex-direction: column;
}

.amenityShort::after {
  content: "" !important;
  max-width: 100%;
  display: block !important;
  top: 0px !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.wrapper {
  margin-top: 32px;
  margin-bottom: 32px;
}

.amenityTitle {
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.amenityDescr {
  color:  rgb(116, 116, 116) !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding-top: 4px;
  padding-left: 2px;
}