.amenitiesContainer {
  grid-row: 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  margin-top: 32px;
}

.amenities {
  grid-row: 1;
  grid-column: 1 / 2;
  margin-bottom: 32px;
  max-width: 660px;
}

.amenities::before, .amenities::after {
  content: "" !important;
  max-width: 660px;
  display: block !important;
  /* position: absolute !important; */
  top: 0px !important;
  /* width: 100% !important; */
  border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.amenitiesHeader {
  color: rgb(34, 34, 34) !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 26px !important;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 16px;
}

.amenitiesList {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 32px;
}

.allAmenitiesButton {
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 600;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  text-decoration: none !important;
  margin-bottom: 48px;
  padding: 16px 24px 16px 24px;
  border-radius: 8px !important;
  border-width: 1px !important;
  border-style: solid !important;
  outline: none !important;
  border-color: rgb(34, 34, 34) !important;
  background: rgb(255, 255, 255) !important;
}

.allAmenitiesButton:hover {
  background-color: rgba(236, 236, 236, 0.6) !important;
}