.featureIcon {
  height: 24px;
  width: 24px;
  fill: currentcolor;
  margin-right: 16px;
}

.featureBlock {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}

.featureTitle {
  color: rgb(34, 34, 34) !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  margin-bottom: 4px !important;
}

.featureDescription {
  color: rgb(113, 113, 113) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}
