.fullListing {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-rows: auto auto auto auto;
  padding-left: 8px;
  margin-top: 24px;
  margin-left: 80px;
  margin-right: 80px;
}

.fullListing * {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}
