.fullListing * {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.bedIcons, .amenityIcon, .featureIcon {
  height: 24px;
  width: 24px;
  fill: currentcolor;
}

.summaryHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryHeadInfo {
  display: flex;
  flex-direction: column;
}

.featureBlock {
  display: flex;
  flex-direction: row;
}

.featureTitle * {
  font: bold;
}

.summaryInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoAndAviContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}