.listingSummary {
  grid-row: 1;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 320px;
  margin-top: 32px;
}

.infoAndAviContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
  grid-row: 1;
  grid-column: 1 / 2;
  padding-right: 60px;
  max-width: 720px;
}

.summaryHeadInfo {
  display: flex;
  flex-direction: column;
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.summaryHeadHeadline * {
  color: rgb(34, 34, 34) !important;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 26px !important;
}

.summaryHeadStats {
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.summaryHeadAvi * {
  height: 60px;
  width: 60px;
  display: block;
  color: #767676 !important;
  text-align: center !important;
  border-radius: 50% !important;
  border-style: solid;
  border-color: #ffffff;
}

.summaryFeatures {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-row: 2;
  grid-column: 1 / 2;
  padding-right: 80px;
  max-width: 720px;
}

.summaryFeatures::before {
  content: "" !important;
  max-width: 660px;
  display: block !important;
  /* position: absolute !important; */
  top: 0px !important;
  /* width: 100% !important; */
  border-bottom: 1px solid rgb(221, 221, 221) !important;
}

.summarySpacer {
  /* display: block;
  margin-top: 32px; */
}

.reserveModule {
  grid-row: 2;
  grid-column: 2 / 3;
  min-height: 100%;
  background-image: url('http://localhost:3005/assets/reservation-mock.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -24px;
}

/* .contain {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
} */
